@model Post

<div class="col-md-12">
    <div class="blog-entry ftco-animate d-md-flex">
        <img src="~/Images/@Model.PhotoPath" alt="Alternate Text" width="150" height="150" style="border-radius:50%;" />
        <div class="text text-2 pl-md-4">
            <h3 class="mb-2">
                <a href="single.html">
                    @Model.Title
                </a>
            </h3>
            <div class="meta-wrap">
                <p class="meta">
                    <span><i class="icon-calendar mr-2"></i>@Model.AddTime</span>
                    <span>
                        <a href="single.html">
                            <i class="icon-folder-o mr-2"></i>@Model.Category.CategoryName
                        </a>
                    </span>
                    @*<span><i class="icon-comment2 mr-2"></i></span>*@
                </p>
            </div>
            <p class="mb-4">
                @Model.Content
            </p>
            <p>
                <a asp-controller="Home" asp-action="Details" asp-route-id="@Model.PostId" class="btn-custom">
                    Read More <span class="ion-ios-arrow-forward"></span>
                </a>
            </p>
        </div>
    </div>
</div>

