@model Post

@{
    ViewData["Title"] = "Details";
}

<div id="colorlib-main">
    <section class="ftco-section ftco-no-pt ftco-no-pb">
        <div class="container-fluid">
            <div class="row d-flex">
                <div class="col-lg-12 px-md-2 py-2">
                    <div class="row pt-md-1">
                        <h1 class="mb-3">@Model.Title</h1>
                        <div class="meta-wrap">
                            <p class="meta">
                                <span><i class="icon-calendar mr-2"></i>@Model.AddTime</span>
                            </p>
                        </div>
                        <p>@Model.Content</p>
                    </div><!-- END-->
                </div>
            </div>
        </div>

        <div class="panel-body">

            <div class="pt-5 mt-5">
                <ul class="comment-list">
                    @{
                        await Html.RenderPartialAsync("_CommentPartial", new CommentViewModel { PostId = Model.PostId, MainCommentId = 0 });
                    }

                    @foreach (var c in Model.MainComments)
                    {
                        <li class="comment">
                            <div class="comment-body">
                                <div class="meta">@c.CreateTime</div>
                                <p>@c.Message</p>
                            </div>
                            @{
                                await Html.RenderPartialAsync("_CommentPartial", new CommentViewModel { PostId = Model.PostId, MainCommentId = c.Id });
                            }
                            @foreach (var sc in c.SubComments)
                            {
                                <ul class="children">

                                    <li class="comment">
                                        <div class="comment-body">
                                            <div class="meta">@sc.CreateTime</div>
                                            <p>@sc.Message</p>
                                        </div>

                                    </li>
                                </ul>
                            }


                        </li>
                    }


                </ul>
            </div>
        </div>


    </section>
</div><!-- END COLORLIB-MAIN -->
